<div class="dropdown-menu dropdown-menu-lg" aria-labelledby="docsDropdown">
  <a class="d-flex align-items-center text-reset text-decoration-none" href="{{webRoot}}/docs/index.html">

    <!-- Icon -->
    <div class="icon text-primary-light">
      <img src="@duotone-icons/general/clipboard.svg">
    </div>

    <div class="ms-3">

      <!-- Heading -->
      <h6 class="text-uppercase text-primary mb-0">
        Documentation
      </h6>

      <!-- Text -->
      <span>Compiling and building.</span>

    </div>

  </a>
  <a class="d-flex align-items-center text-reset text-decoration-none mt-5" href="{{webRoot}}/docs/alerts.html">

    <!-- Icon -->
    <div class="icon text-primary-light">
      <img src="@duotone-icons/layout/layout-arrange.svg">
    </div>

    <div class="ms-3">

      <!-- Heading -->
      <h6 class="text-uppercase text-primary mb-0">
        Components
      </h6>

      <!-- Text -->
      <span>Full list of pieces in the theme</span>

    </div>

  </a>
  <a class="d-flex align-items-center text-reset text-decoration-none mt-5" href="{{webRoot}}/docs/changelog.html">

    <!-- Icon -->
    <div class="icon text-primary-light">
      <img src="@duotone-icons/files/file.svg">
    </div>

    <div class="ms-3">

      <!-- Heading -->
      <h6 class="text-uppercase text-primary mb-0">
        Changelog
      </h6>

      <!-- Text -->
      <span>This is the new version</span>

    </div>

  </a>
</div>
