<div class="dropdown-menu dropdown-menu-lg" aria-labelledby="pagesDropdown">
  <div class="row gx-0">
    <div class="col">

      <!-- Heading -->
      <h6 class="dropdown-header text-uppercase mb-3">
        Company
      </h6>

      <!-- Links -->
      <a class="dropdown-item" href="{{webRoot}}/about.html">
        About
      </a>
      <a class="dropdown-item" href="{{webRoot}}/pricing.html">
        Pricing
      </a>
      <a class="dropdown-item" href="{{webRoot}}/pricing-feature-list.html">
        Pricing Table
      </a>
      <a class="dropdown-item" href="{{webRoot}}/career-listing.html">
        Careers
      </a>
      <a class="dropdown-item" href="{{webRoot}}/career-benefits.html">
        Job benefits
      </a>
      <a class="dropdown-item" href="{{webRoot}}/contact.html">
        Contact
      </a>
      <a class="dropdown-item" href="{{webRoot}}/faq.html">
        FAQ
      </a><a class="dropdown-item" href="{{webRoot}}/terms.html">
        Terms
      </a>

    </div>
    <div class="col">

      <!-- Heading -->
      <h6 class="dropdown-header text-uppercase mb-3">
        Blog
      </h6>

      <!-- Links -->
      <a class="dropdown-item" href="{{webRoot}}/blog-listing.html">
        Listing
      </a>
      <a class="dropdown-item" href="{{webRoot}}/blog-post.html">
        Article
      </a>
      <a class="dropdown-item" href="{{webRoot}}/blog-post-cover.html">
        Cover Article
      </a>

      <!-- Heading -->
      <h6 class="dropdown-header text-uppercase mb-3">
        Help Center
      </h6>

      <!-- Links -->
      <a class="dropdown-item" href="{{webRoot}}/help-center.html">
        Overview
      </a>
      <a class="dropdown-item" href="{{webRoot}}/help-center-article.html">
        Article
      </a>

    </div>
  </div>
</div>
