<div class="dropdown-menu dropdown-menu-xl dropdown-menu-flush" aria-labelledby="landingsDropdown">
  <div class="row align-items-center gx-0">
    <div class="col-md-6 order-1 dropdown-menu-col rounded-top-start-0 bg-gray-900 pt-4 py-lg-5">
      <div class="dropdown-menu-body">

        <!-- Heading -->
        <h6 class="dropdown-header text-uppercase text-primary-light d-none d-lg-block">
          Services
        </h6>

        <!-- Links -->
        <a class="d-flex text-decoration-none" href="{{webRoot}}/coworking.html">

          <!-- Icon -->
          <div class="icon icon-sm text-primary-light">
            <img src="@duotone-icons/home/flower-1.svg">
          </div>

          <div class="ms-3">

            <!-- Heading -->
            <p class="fw-bold text-white mb-0">
              Coworking
            </p>

            <!-- Text -->
            <span class="text-gray-500">
              Minimal, image-focused content
            </span>

          </div>

        </a>
        <a class="d-flex text-decoration-none mt-4" href="{{webRoot}}/hiring-agency.html">

          <!-- Icon -->
          <div class="icon icon-sm text-primary-light">
            <img src="@duotone-icons/general/user.svg">
          </div>

          <div class="ms-3">

            <!-- Heading -->
            <p class="fw-bold text-white mb-0">
              Hiring Platform
            </p>

            <!-- Text -->
            <span class="text-gray-500">
              A hiring service platform
            </span>

          </div>

        </a>
        <a class="d-flex text-decoration-none mt-4" href="{{webRoot}}/course.html">

          <!-- Icon -->
          <div class="icon icon-sm text-primary-light">
            <img src="@duotone-icons/media/movie-lane-2.svg">
          </div>

          <div class="ms-3">

            <!-- Heading -->
            <p class="fw-bold text-white mb-0">
              Course
            </p>

            <!-- Text -->
            <span class="text-gray-500">
              React programming course
            </span>

          </div>

        </a>
        <a class="d-flex text-decoration-none mt-4" href="{{webRoot}}/software-automation.html">

          <!-- Icon -->
          <div class="icon icon-sm text-primary-light">
            <img src="@duotone-icons/navigation/route.svg">
          </div>

          <div class="ms-3">

            <!-- Heading -->
            <p class="fw-bold text-white mb-0">
              Automated Integrations
            </p>

            <!-- Text -->
            <span class="text-gray-500">
              Digital integration software
            </span>

          </div>

        </a>

      </div>
    </div>
    <div class="col-md-6 order-0 dropdown-menu-col">
      <div class="dropdown-menu-body">

        <!-- Heading -->
        <h6 class="dropdown-header text-uppercase d-none d-lg-block">
          Software
        </h6>

        <!-- Links -->
        <a class="d-flex text-decoration-none text-reset" href="{{webRoot}}/robo-advisor.html">

          <!-- Icon -->
          <div class="icon icon-sm text-primary-light">
            <img src="@duotone-icons/shopping/wallet-3.svg">
          </div>

          <div class="ms-3">

            <!-- Heading -->
            <p class="fw-bold mb-0">
              Robo Advisor
            </p>

            <!-- Text -->
            <span class="text-muted">
              A simple and professional layout
            </span>

          </div>

        </a>
        <a class="d-flex text-decoration-none text-reset mt-4" href="{{webRoot}}/analytics-saas.html">

          <!-- Icon -->
          <div class="icon icon-sm text-primary-light">
            <img src="@duotone-icons/shopping/chart-pie.svg">
          </div>

          <div class="ms-3">

            <!-- Heading -->
            <p class="fw-bold mb-0">
              Analytics SaaS
            </p>

            <!-- Text -->
            <span class="text-muted">
              UI-heavy product example
            </span>

          </div>

        </a>
        <a class="d-flex text-decoration-none text-reset mt-4" href="{{webRoot}}/e-commerce-platform.html">

          <!-- Icon -->
          <div class="icon icon-sm text-primary-light">
            <img src="@duotone-icons/shopping/cart-1.svg">
          </div>

          <div class="ms-3">

            <!-- Heading -->
            <p class="fw-bold mb-0">
              E-Commerce Platform
            </p>

            <!-- Text -->
            <span class="text-muted">
              SaaS for sales of goods
            </span>

          </div>

        </a>
        <a class="d-flex text-decoration-none text-reset mt-4" href="{{webRoot}}/mobile-chat-app.html">

          <!-- Icon -->
          <div class="icon icon-sm text-primary-light">
            <img src="@duotone-icons/devices/phone.svg">
          </div>

          <div class="ms-3">

            <!-- Heading -->
            <p class="fw-bold mb-0">
              Mobile Apps
            </p>

            <!-- Text -->
            <span class="text-muted">
              Minimal layout for mobile apps
            </span>

          </div>

        </a>

      </div>
      <div class="dropdown-menu-footer align-items-center d-none d-lg-flex">

        <!-- Text -->
        <span>Sans Serif Headers</span>

        <!-- Switch -->
        <form class="ms-auto me-n3">
          <div class="form-check form-switch mb-0">
            <input class="form-check-input family-switch" type="checkbox" id="familySwitch" onchange="switchFamily(this.checked)">
            <label class="form-check-label" for="familySwitch"></label>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
