<ul class="dropdown-menu" aria-labelledby="accountDropdown">
  <li class="dropdown-item dropend">
    <a class="dropdown-link dropdown-toggle" id="signInDropright" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Sign In
    </a>
    <div class="dropdown-positioner">
      <div class="dropdown-menu dropdown-menu-auto" aria-labelledby="signInDropright">
        <a class="dropdown-item" href="{{webRoot}}/sign-in-cover.html">
          Cover
        </a>
        <a class="dropdown-item" href="{{webRoot}}/sign-in.html">
          Simple
        </a>
        <a class="dropdown-item" data-bs-toggle="modal" href="#modalSignIn">
          Modal
        </a>
      </div>
    </div>
  </li>
  <li class="dropdown-item dropend">
    <a class="dropdown-link dropdown-toggle" id="signUpDropright" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Sign Up
    </a>
    <div class="dropdown-positioner">
      <div class="dropdown-menu dropdown-menu-auto" aria-labelledby="signUpDropright">
        <a class="dropdown-item" href="{{webRoot}}/sign-up-cover.html">
          Cover
        </a>
        <a class="dropdown-item" href="{{webRoot}}/sign-up.html">
          Simple
        </a>
        <a class="dropdown-item" data-bs-toggle="modal" href="#modalSignUp">
          Modal
        </a>
      </div>
    </div>
  </li>
  <li class="dropdown-item dropend">
    <a class="dropdown-link dropdown-toggle" id="passwordResetDropright" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Password Reset
    </a>
    <div class="dropdown-positioner">
      <div class="dropdown-menu dropdown-menu-auto" aria-labelledby="passwordResetDropright">
        <a class="dropdown-item" href="{{webRoot}}/password-reset-cover.html">
          Cover
        </a>
        <a class="dropdown-item" href="{{webRoot}}/password-reset.html">
          Simple
        </a>
        <a class="dropdown-item" data-bs-toggle="modal" href="#modalPasswordReset">
          Modal
        </a>
      </div>
    </div>
  </li>
  <li class="dropdown-item dropend">
    <a class="dropdown-link dropdown-toggle" id="errorsDropright" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Errors
    </a>
    <div class="dropdown-positioner">
      <div class="dropdown-menu dropdown-menu-auto" aria-labelledby="errorsDropright">
        <a class="dropdown-item" href="{{webRoot}}/error-cover.html">
          Cover
        </a>
        <a class="dropdown-item" href="{{webRoot}}/error.html">
          Simple
        </a>
      </div>
    </div>
  </li>
</ul>
