<footer class="footer py-8 {{classList}}">
  <div class="container-lg">
    <div class="row align-items-center">
      <div class="col-12 col-md text-center text-md-start">

        <!-- List -->
        <ul class="list-inline list-unstyled mb-md-0">
          <li class="list-inline-item">
            <a class="text-white-60" href="#!">
              Help Center
            </a>
          </li>
          <li class="list-inline-item ms-md-8">
            <a class="text-white-60" href="#!">
              About Us
            </a>
          </li>
          <li class="list-inline-item ms-md-8">
            <a class="text-white-60" href="#!">
              Legal
            </a>
          </li>
          <li class="list-inline-item ms-md-8">
            <a class="text-white-60" href="#!">
              Press
            </a>
          </li>
        </ul>

      </div>
      <div class="col-12 col-md-auto text-center text-md-start">

        <!-- Social -->
        <ul class="list-inline list-unstyled text-gray-600 mb-0">
          <li class="list-inline-item">
            <a class="icon icon-sm text-reset" href="#!">
              <img src="@icons/social-icons/instagram.svg">
            </a>
          </li>
          <li class="list-inline-item ms-1">
            <a class="icon icon-sm text-reset" href="#!">
              <img src="@icons/social-icons/facebook.svg">
            </a>
          </li>
          <li class="list-inline-item ms-1">
            <a class="icon icon-sm text-reset" href="#!">
              <img src="@icons/social-icons/twitter.svg">
            </a>
          </li>
          <li class="list-inline-item ms-1">
            <a class="icon icon-sm text-reset" href="#!">
              <img src="@icons/social-icons/pinterest.svg">
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</footer>
