<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Favicon -->
<link rel="shortcut icon" href="@favicons/favicon.ico" type="image/x-icon" />

<!-- Map CSS -->
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css" />

<!-- Libs CSS -->
<link rel="stylesheet" href="@styles/libs.scss" />

<!--
  Theme Sans Serif CSS
  Remove the "disabled" attribute if you want to enable Sans Serif for headings.
-->
<link rel="stylesheet" href="@styles/theme-sans-serif.scss" id="themeSansSerif" disabled />

<!--
  Demo JS
  Remove the code below on a production website.
-->
<script src="@scripts/demo.js"></script>

<!-- Theme CSS -->
<link rel="stylesheet" href="@styles/theme.scss" />

<!-- Title -->
<title>{{title}}</title>
