<div class="modal fade" id="modalPasswordReset" tabindex="-1" role="dialog" aria-labelledby="modalPasswordResetHeading" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">

        <!-- Close -->
        <button class="btn-close" data-bs-dismiss="modal" type="button" aria-label="Close"></button>

        <!-- Heading -->
        <h1 class="display-4 mb-4" id="modalPasswordResetHeading">
          Password reset
        </h1>

        <!-- Text -->
        <p class="text-muted">
          Enter your email to reset your password.
        </p>

        <!-- Form -->
        <form class="mb-6">

          <!-- Email -->
          <div class="form-group">
            <label class="visually-hidden" for="passwordResetEmail">
              Your email
            </label>
            <input class="form-control" id="passwordResetEmail" type="email" placeholder="Your email">
          </div>

          <!-- Button -->
          <button class="btn w-100 btn-primary">
            Reset password
          </button>

        </form>

        <!-- Text -->
        <small class="text-muted">
          Remember your password? <a href="sign-in.html">Log in</a>.
        </small>

      </div>
    </div>
  </div>
</div>
