<div class="modal fade" id="modalSale" tabindex="-1" role="dialog" aria-labelledby="modalSaleHeading" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">

        <!-- Close -->
        <button class="btn-close" data-bs-dismiss="modal" type="button" aria-label="Close"></button>

        <!-- Image -->
        <img class="img-fluid mb-4 mt-n11" src="@images/illustrations/illustration-4.png" alt="...">

        <!-- Heading -->
        <h1 class="mb-4" id="modalSaleHeading">
          30 Day Free Trial
        </h1>

        <!-- Text -->
        <p class="text-muted">
          We’ll help you get started by getting you guides and all the basic informaiton.
        </p>

        <!-- Form -->
        <form class="mb-6">

          <!-- Email -->
          <div class="form-group">
            <label class="visually-hidden" for="saleModalEmail">
              Your email
            </label>
            <input class="form-control" id="saleModalEmail" type="email" placeholder="Your email">
          </div>

          <!-- Button -->
          <button class="btn w-100 btn-primary">
            Start Trial
          </button>

        </form>

        <!-- Text -->
        <small class="text-muted">
          <a class="text-reset" data-bs-dismiss="modal" href="#!">No thanks, I hate free stuff.</a>
        </small>

      </div>
    </div>
  </div>
</div>
