<div class="modal fade" id="modalSignUp" tabindex="-1" role="dialog" aria-labelledby="modalSignUpHeading" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">

        <!-- Close -->
        <button class="btn-close" data-bs-dismiss="modal" type="button" aria-label="Close"></button>

        <!-- Heading -->
        <h1 class="mb-4" id="modalSignUpHeading">
          Sign Up
        </h1>

        <!-- Text -->
        <p>
          Create beautiful marketing websites in hours instead of weeks.
        </p>

        <!-- Form -->
        <form class="mb-6">

          <!-- Email -->
          <div class="form-group">
            <label class="visually-hidden" for="signUpEmail">
              Your email
            </label>
            <input class="form-control" id="signUpEmail" type="email" placeholder="Your email">
          </div>

          <!-- Password -->
          <div class="form-group">
            <div class="input-group inpit-group-merge">
              <input class="form-control" id="signUpPassword" placeholder="Your password" type="password" aria-label="Your password" aria-describedby="signUpPasswordCaption">
              <a class="input-group-text text-decoration-none text-gray-500" id="signUpPasswordCaption" data-toggle="password" href="#signUpPassword">
                <i class="fe fe-eye"></i>
              </a>
            </div>
          </div>

          <!-- Button -->
          <button class="btn w-100 btn-primary">
            Sign up
          </button>

        </form>

        <!-- Link -->
        <small class="text-muted">
          Already have an account? <a href="sign-in.html">Login</a>
        </small>

      </div>
    </div>
  </div>
</div>
