<nav class="navbar navbar-expand-lg {{classList}}">
  <div class="container-lg">

    <!-- Brand -->
    <a class="navbar-brand d-lg-none" href="{{webRoot}}/index.html">Goodkit</a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Navigation -->
      <ul class="navbar-nav justify-content-end w-100">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="landingsDropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Landings
          </a>
          <div class="dropdown-positioner">
            {{> dropdown-landings}}
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="pagesDropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Pages
          </a>
          <div class="dropdown-positioner">
            {{> dropdown-pages}}
          </div>
        </li>
      </ul>

      <!-- Brand -->
      <a class="navbar-brand d-none d-lg-block px-lg-6" href="{{webRoot}}/index.html">Goodkit</a>

      <!-- Navigation -->
      <ul class="navbar-nav justify-content-start w-100">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="accountDropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Account
          </a>
          <div class="dropdown-positioner">
            {{> dropdown-account}}
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="docsDropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Docs
          </a>
          <div class="dropdown-positioner">
            {{> dropdown-docs}}
          </div>
        </li>
        <li class="nav-item d-lg-none">
          <div class="nav-link">

            <!-- Text -->
            <span>
              Sans Serif Headers
            </span>

            <!-- Switch -->
            <form class="ms-auto me-n3">
              <div class="form-check form-switch mb-0">
                <input class="form-check-input family-switch" type="checkbox" id="familySwitchMobile" onchange="switchFamily(this.checked)">
                <label class="form-check-label" for="familySwitchMobile"></label>
              </div>
            </form>

          </div>
        </li>
      </ul>

    </div>

  </div>
</nav>
